---
// src/layouts/Layout.astro
import "../styles/global.css";
import bussinessIcon from "../img/businessIcon.webp";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sistema de seguimiento de servicios" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<img src={bussinessIcon.src} alt="" />
			<nav>
				<a href="/">Inicio</a>
				<a href="/seguimiento">Seguimiento</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	header {
		background-color: var(--color-blanco);
		padding: 1rem 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header img {
		width: 10%;
	}
	nav {
		display: flex;
		gap: 1.5rem;
	}
	nav a {
		color: var(--color-gris);
		font-weight: 600;
		font-size: 1rem;
	}
	main {
		flex-grow: 1; /* Asegura que el contenido principal ocupe el espacio disponible */
		max-width: 1200px;
		width: 100%;
		margin: 2rem auto;
		padding: 0 2rem;
	}
</style>
